# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
matplotlib=3.0.2=py37h5429711_0
numpy=1.15.4=py37h7e9f1db_0
numpy-base=1.15.4=py37hde5b4d6_0
numpydoc=0.8.0=py37_0
python=3.7.1=h0371630_7
pytorch=1.0.0=py3.7_cuda8.0.61_cudnn7.1.2_1
scikit-image=0.14.1=py37he6710b0_0
scipy=1.1.0=py37h7c811a0_2
torchvision=0.2.1=py_2
